# Mercado Libre OAuth
ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_REDIRECT_URI=
ML_AUTH_CODE=
ML_ACCESS_TOKEN=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mercado_livre_etl
DB_USER=postgres
DB_PASSWORD=